[Unit]
Description=Progulkin Server - API и Signaling для приложения Прогулкин
After=network.target redis.service

[Service]
Type=exec
User=www-data
Group=www-data
WorkingDirectory=/opt/progulkin-server
Environment="ENV=prod"
EnvironmentFile=/opt/progulkin-server/.env
ExecStart=/opt/progulkin-server/venv/bin/gunicorn -c gunicorn_conf.py app.main:app
ExecStartPost=/opt/progulkin-server/venv/bin/python -m signaling.server &
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
